:root {
  --primary-color: #5a0063;
  --secondary-color: #0d0d0d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --container-color: rgba(156, 123, 134, 0.4);
  --font-style:font-family: 'Handlee', cursive;
}

body {
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/031/729/original/6453971.jpg?1649839158");
}

h1 {
  text-align: center;
  font-size: 70px;
  color: var(--secondary-color);
  animation-duration: 1.3s;
  animation-name: slidein;
}

h1 strong {
  font-size: 48px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  color: var(--secondary-color);
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

h4 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

h6 {
  color: var(--primary-color);
}

progress {
  background: #5a0063;
  border: 2px solid black;
  border-radius: 6px;
}

progress::-webkit-progress-value {
  background: var(--primary-color)
}

.border-container {
  max-width: 1500px;
  padding: 20px;
  margin: 10px 400px;
  border: 3px dotted;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--container-color);
}

/*Navigation bar*/
.nav-item {
  padding: 5px;
}

/*Footer */

.bottomlink {
  padding-top: 5px;
  justify-content: space-evenly;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
}

.bottomlink:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.5s ease;
}

footer {
  font-size: 18px;
  text-align: center;
}

/*Media queries */

@media (max-width: 576px) {
  h1 strong{
    font-size: 30px;
  }

  h3{
    font-size: 3px;
  }
  
  .about-me-section {
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .index-container img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    max-height: 350px;
  }

  .index-image {
  display: flex;
  justify-content: center;
  margin: 0px 30px 10px 30px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  
}

  .about-me-container {
    padding: 0px;
    margin: 10px;
  }

  .project-section {
    padding: 0px;
    margin: 10px;
  }

  .contact-section {
    padding: 0px;
    margin: 10px;
  }

  .about-me-section p,
  .contact-section p {
    font-size: 18px;
  }

  .index-container {
    padding: 20px 0px;
    margin: 20px 10px;
  }

  footer {
    font-size: 15px;
  }

  .bottomlink {
    font-size: 15px;
  }

  .email-link {
    font-size: 18px;
  }

  .about-experience-container h4,
  .about-technologies h4 {
    font-size: 25px;
  }

.courses h2,
.education h2,
.introduction h2,
.work-experience h2,
.left-image h2 {
  text-align: center;
  font-size: 18px;
}

.introduction p{
  text-align: center;
}

h6{
  font-size: 12px;
}

.courses h5,
.education h5,
.work-experience h5{
  text-align: center;
  font-size: 14px;
}

.courses,
.introduction,
.education,
.work-experience{
  text-align: center;
}

.languages ul,
.skills ul,
.personal ul{
  text-align: center;
}

.links h3,
.languages h3,
.skills h3 {
  text-align: center;
  font-size: 14px;
}

.links p{
  text-align: center;
  font-size: 12px;
}

.links a{
  font-size: 12px;
}

.work-experience p,
.about-me-section p{
  font-size: 12px;
  text-align: center;
}
}
