:root {
  --primary-color: #ef9273;
  --secondary-color: #0d0d0d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --tertiary-color: #ffd6a9;
}

body {
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/027/076/original/wp7696648.jpg?1644684455");
  background-size: auto;
  background-repeat: repeat;
}

h1 {
  text-align: center;
  color: var(--secondary-color);
  animation-duration: 1.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  color: var(--secondary-color);
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 32px;
  opacity: 0.7;
  color: var(--primary-color);
}

/*Images*/

.project-img {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  width: 100%;
  height: auto;
}

.index-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.project-img img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.index-image {
  display: flex;
  justify-content: center;
  margin: 30px 0px 40px 0px;
  border: 3px dotted;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: var(--box-shadow);
}

/*Navigation bar*/
.nav-item {
  padding: 5px;
}

/*About me page*/
.about-me-container {
  padding: 40px;
}

.about-me-section {
  padding: 40px;
  border: 3px dotted;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.about-img-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 600px;
}

.about-text-container {
  padding: 10px;
  max-width: 600px;
}

/*Contact me page */

.email-link {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 25px;
  animation-duration: 1.3s;
  animation-name: slidein;
}

.email-link:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.5s ease;
}

.contact-section {
  padding: 40px;
}

.contact-paragraph {
  border: 1px solid;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  box-shadow: var(--box-shadow);
  max-width: 600px;
  display: flex;
  justify-content: center;
}

/*Project page */

.project-section {
  padding: 40px;
}

/*Media queries */

@media (max-width: 576px) {
  .about-img-container {
    display: none;
  }
}
